@model List<Soru>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Soru Ekle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @ToastrHelper.ProcessToastrs()


</head>
<body style="background-image:url(../../Content/img/green.jpg); background-size:cover">
    <div class="container">

        <div class="row justify-content-center">
            <div class="card bg-light mb-3" id="questionCard" style="width: 36rem;">
                <div class="card-header display-4">Yeni Soru Ekle</div>
                <div class="card-body">
                    @using (Html.BeginForm("AddQuestion", "Teacher", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.DropDownList("dersler", null, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.DropDownList("konular", null, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="soruMetin" id="soruMetin" required placeholder="Soru Metnini Giriniz">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="soruCevap" id="soruCevap" required placeholder="Soru Cevabını Giriniz">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="soruYanlisCevap" id="soruYanlisCevap" required placeholder="Yanlış Cevapları Virgil Koyarak Giriniz">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Soruyu Ekle</button>
                        </div>

                    }
                </div>
            </div>
        </div>

        <div class="row justify-content-center" id="questionArea">
            <div class="card bg-light mb-3" id="questionCard" style="width: 36rem;">
                <div class="card-header display-4">Son Eklenen 5 Soru</div>
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        String[] cevaplar = item.soruYanlisCevap.Split(',');
                        <div class="card bg-light mb-3" id="questionCard" style="width: 30rem;">
                            <div class="card-header">@item.soruMetin</div>
                            <div class="card-body">

                                <p><label>Doğru Cevap: @item.soruCevap</label></p>
                                <p><label>Yanlış Cevap: @cevaplar[0]</label></p>
                                <p><label>Yanlış Cevap: @cevaplar[1]</label></p>
                                <p><label>Yanlış Cevap: @cevaplar[2]</label></p>
                            </div>
                        </div>
                    }
                </div>
            </div>            
        </div>
    </div>
</body>
</html>
