
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Soru Ekle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @ToastrHelper.ProcessToastrs()


</head>
<body class="container" style="background-size:cover; background-image:url(../../Content/img/deneme.jpg);background-repeat: no-repeat;">
    <div>
        <div class="col-8" style="padding : 200px">
            @using (Html.BeginForm("AddQuestion", "Teacher", FormMethod.Post)){

                @Html.DropDownList("dersler", null, new { @class = "form-control input-lg" })
                @Html.DropDownList("konular", null, new { @class = "form-control input-lg" })
                <div class="form-group">
                    <label for="exampleInputEmail1">Soru Metni</label>
                    <input type="text" class="form-control" name="soruMetin" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Example : 5x5 = ?">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Soru Cevap</label>
                    <input type="text" class="form-control" name="soruCevap" id="exampleInputPassword1" placeholder="Example : 25">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Soru yanlış Cevap</label>
                    <input type="text" class="form-control" name="soruYanlisCevap" id="exampleInputPassword2" placeholder="Example : 25">
                </div>
                <button type="submit" class="btn btn-primary">Soruyu Ekle</button>
             }
        </div>
    </div>
</body>
</html>
