
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Öğretmen Sayfası</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @ToastrHelper.ProcessToastrs()

</head>
<body style="background-size:cover; background-image:url(../../Content/img/school.jpeg);background-repeat: no-repeat;">
    <div class="container">
        <div class="row" style="padding-top:15%">
            <div class="col">
                <div class="jumbotron bg-white">
                    @Html.ActionLink("Çıkış Yap", "LogOut", "Teacher", new { @class = "btn btn-danger float-right" })
                    <h1 class="display-5 ">Profil</h1>
                    <p class="lead">Burası senin özel alanın.Burada kendi bilgilerini görebilirsin.</p>
                    <hr class="my-4">
                    <!-- Button trigger modal-->
                    <a class="btn btn-secondary text-white" id="showMyData" data-toggle="modal" data-target="#modalProfileDetail" role="button">Bilgilerimi Görüntüle</a>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:5%">

            <div class="col-sm-6">
                <div class="card bg-dark text-light">
                    <h3 class="card-header">Soru Ekleme</h3>
                    <div class="card-body">
                        <h5 class="card-title">En güncel soruları ekle.</h5>
                        <p class="card-text">Öğrencilerin kazansın fark yarat.</p>
                        @Html.ActionLink("Soru Ekle", "AddQuestion", "Teacher", new { @class = "btn btn-warning" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-warning">
                    <h3 class="card-header">Öğrencilerim</h3>
                    <div class="card-body">
                        <h5 class="card-title">Öğrencilerini Gör</h5>
                        <p class="card-text">Öğrencilerinin sınav sonuçlarını gör.</p>
                        @Html.ActionLink("Öğrencilerimi Görüntüle", "GetStudents", "Teacher", new { @class = "btn btn-dark" })
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal: modalCart -->
    <div class="modal fade" id="modalProfileDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Bilgilerim</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <label id="profilAd" class="input-group">Ad: </label>
                    <label id="profilSoyad" class="input-group">Soyad: </label>
                    <label id="profilEmail" class="input-group">Email: </label>
                    <label id="profilTel" class="input-group">Telefon: </label>
                    <label id="profilDers" class="input-group">Dersin Adı: </label>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
   
    <script>
        $(document).ready(function () {
            $("#showMyData").click(function () {
                $.ajax({
                    url: '/Teacher/GetMyData/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#profilAd").text("Ad: " + data.profilAd);
                        $("#profilSoyad").text("Soyad: " + data.profilSoyad);
                        $("#profilEmail").text("Email: " + data.profilEmail);
                        $("#profilTel").text("Telefon: " + data.profilTel);
                        $("#profilDers").text("Ders: " + data.profilDers);
                    }
                });
            });
        });
    </script>
   
</body>
</html>